In [41]:
## Part-A

import pandas as pd
import numpy as np

df=pd.read_csv('/content/drive/MyDrive/5_a.csv')
df.head()

     y     proba
0  1.0  0.637387
1  1.0  0.635165
2  1.0  0.766586
3  1.0  0.724564
4  1.0  0.889199

In [42]:
## Here we consider threshold value 0.5 and add new column 'Y1'

df['Y1']=(df.proba>=.5).astype('int')

df.head()

     y     proba  Y1
0  1.0  0.637387   1
1  1.0  0.635165   1
2  1.0  0.766586   1
3  1.0  0.724564   1
4  1.0  0.889199   1

In [43]:
## for compute tp,tn,fp,fn (confusion matrix)

def compute_tp_tn_fp_fn(y,Y1):
  tp=sum((y==1)&(Y1==1))
  tn=sum((y==0)&(Y1==0))
  fp=sum((y==0)&(Y1==1))
  fn=sum((y==1)&(Y1==0))
  return tp,tn,fp,fn


k1,k2,k3,k4=compute_tp_tn_fp_fn(df.y,df.Y1)
print('TP:',k1)
print('TN:',k2)
print('FP:',k3)
print('FN:',k4)

TP: 10000
TN: 0
FP: 100
FN: 0

In [44]:
## compute accuracy-score, precision-score, recall-score, f1-score

def compute_accuracy(tp,tn,fp,fn):
  return (tp+tn)/(tp+tn+fp+fn)    

def compute_precision(tp,fp):
  return tp/(tp+fp)

def compute_recall(tp,fn):
  return tp/(tp+fn)

def compute_f1_score(a,b):
  f1_score=(2*a*b)/(a+b)
  return f1_score           

x=compute_precision(k1,k3)
y= compute_recall(k1,k4) 

print('ACCURACY:',compute_accuracy(k1,k2,k3,k4)) 
print('PRECISION:',compute_precision(k1,k3))
print('RECALL:',compute_recall(k1,k4))
print('F1_SCORE:',compute_f1_score(x,y))

ACCURACY: 0.9900990099009901
PRECISION: 0.9900990099009901
RECALL: 1.0
F1_SCORE: 0.9950248756218906

In [45]:
## Here consider different threshold values and add new columns(y1,y1,y3,y4,y5,y6,y7,y8)

df['y1']=(df.proba>=.1).astype('int')
df['y2']=(df.proba>=.2).astype('int')
df['y3']=(df.proba>=.3).astype('int')
df['y4']=(df.proba>=.4).astype('int')
df['y5']=(df.proba>=.5).astype('int')
df['y6']=(df.proba>=.6).astype('int')
df['y7']=(df.proba>=.7).astype('int')
df['y8']=(df.proba>=.8).astype('int')

df.head()

     y     proba  Y1  y1  y2  y3  y4  y5  y6  y7  y8
0  1.0  0.637387   1   1   1   1   1   1   1   0   0
1  1.0  0.635165   1   1   1   1   1   1   1   0   0
2  1.0  0.766586   1   1   1   1   1   1   1   1   0
3  1.0  0.724564   1   1   1   1   1   1   1   1   0
4  1.0  0.889199   1   1   1   1   1   1   1   1   1

In [46]:
## compute tpr and fpr at different threshold values(.1,.2,.3,.4,.5,.6,.7,.8)

def compute_tpr(tp,fn):
  return ((tp)/(tp+fn))

def compute_fpr(fp,tn):
  return ((fp)/(fp+tn))

k1,k2,k3,k4=compute_tp_tn_fp_fn(df.y,df.y1)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(df.y,df.y2)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(df.y,df.y3)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(df.y,df.y4)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(df.y,df.y5)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(df.y,df.y6)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(df.y,df.y7)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(df.y,df.y8)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

TPR: 1.0 FPR: 1.0
TPR: 1.0 FPR: 1.0
TPR: 1.0 FPR: 1.0
TPR: 1.0 FPR: 1.0
TPR: 1.0 FPR: 1.0
TPR: 0.7509 FPR: 0.78
TPR: 0.4912 FPR: 0.49
TPR: 0.234 FPR: 0.25

In [65]:
## calculate AUC

tpr_array=np.array([1,1,1,1,1,0.7509,0.4912,0.234])
fpr_array=np.array([1,1,1,1,1,0.78,0.49,0.25])

np.abs(np.trapz(tpr_array,fpr_array))

0.4597275

In [66]:
## Part-B

d=pd.read_csv('/content/drive/MyDrive/5_b.csv')

## Here we consider threshold value 0.5 and add new column 'Y1'

d['Y1']=(d.proba>=.5).astype('int')

d.head()

     y     proba  Y1
0  0.0  0.281035   0
1  0.0  0.465152   0
2  0.0  0.352793   0
3  0.0  0.157818   0
4  0.0  0.276648   0

In [57]:
## for compute value tp,tn,fp,fn (confusion matrix)

def compute_tp_tn_fp_fn(y,Y1):
  tp=sum((y==1)&(Y1==1))
  tn=sum((y==0)&(Y1==0))
  fp=sum((y==0)&(Y1==1))
  fn=sum((y==1)&(Y1==0))
  return tp,tn,fp,fn        

k1,k2,k3,k4=compute_tp_tn_fp_fn(d.y,d.Y1)
print('TP:',k1)
print('TN:',k2)
print('FP:',k3)
print('FN:',k4)

TP: 55
TN: 9761
FP: 239
FN: 45

In [59]:
## compute accuracy-score, precision-score, recall-score, f1-score

def compute_accuracy(tp,tn,fp,fn):
  return (tp+tn)/(tp+tn+fp+fn)    

def compute_precision(tp,fp):
  return tp/(tp+fp)

def compute_recall(tp,fn):
  return tp/(tp+fn)

def compute_f1_score(a,b):
  f1_score=((2*a*b)*100)/(a+b)
  return f1_score          

x=compute_precision(k1,k3)/100
y= compute_recall(k1,k4)/100  

print('ACCURACY:',compute_accuracy(k1,k2,k3,k4)) 
print('PRECISION:',compute_precision(k1,k3))
print('RECALL:',compute_recall(k1,k4))
print('F1_SCORE:',compute_f1_score(x,y))

ACCURACY: 0.9718811881188119
PRECISION: 0.1870748299319728
RECALL: 0.55
F1_SCORE: 0.2791878172588833

In [70]:
## Here consider different threshold values and add new columns(y1,y1,y3,y4,y5,y6,y7,y8)

d['y1']=(d.proba>=.1).astype('int')
d['y2']=(d.proba>=.15).astype('int')
d['y3']=(d.proba>=.2).astype('int')
d['y4']=(d.proba>=.25).astype('int')
d['y5']=(d.proba>=.3).astype('int')
d['y6']=(d.proba>=.35).astype('int')
d['y7']=(d.proba>=.4).astype('int')
d['y8']=(d.proba>=.45).astype('int')



d.head()

     y     proba  Y1  y1  y2  y3  y4  y5  y6  y7  y8
0  0.0  0.281035   0   1   1   1   1   0   0   0   0
1  0.0  0.465152   0   1   1   1   1   1   1   1   1
2  0.0  0.352793   0   1   1   1   1   1   1   0   0
3  0.0  0.157818   0   1   1   0   0   0   0   0   0
4  0.0  0.276648   0   1   1   1   1   0   0   0   0

In [71]:
## compute tpr and fpr at different threshold values

def compute_tpr(tp,fn):
  return tp/(tp+fn)

def compute_fpr(fp,tn):
  return fp/(fp+tn)

k1,k2,k3,k4=compute_tp_tn_fp_fn(d.y,d.y1)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(d.y,d.y2)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(d.y,d.y3)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(d.y,d.y4)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(d.y,d.y5)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(d.y,d.y6)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(d.y,d.y7)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

k1,k2,k3,k4=compute_tp_tn_fp_fn(d.y,d.y8)
print('TPR:',compute_tpr(k1,k4,),  'FPR:',compute_fpr(k3,k2))

TPR: 1.0 FPR: 1.0
TPR: 1.0 FPR: 0.8759
TPR: 1.0 FPR: 0.7497
TPR: 1.0 FPR: 0.6255
TPR: 1.0 FPR: 0.5032
TPR: 1.0 FPR: 0.3892
TPR: 1.0 FPR: 0.2683
TPR: 0.79 FPR: 0.1458

In [72]:
## calculate AUC

tpr_array=np.array([1,1,1,1,1,1,1,0.79])
fpr_array=np.array([1,0.8759,0.7497,0.6255,0.5032,0.3892,0.2683,0.1458])

np.abs(np.trapz(tpr_array,fpr_array))

0.8413375

In [73]:
## Part-C

# A= 500*no. of fn + 100*no. of fp
# find threshold value at which A gives lowest value

dc=pd.read_csv('/content/drive/MyDrive/5_c.csv')

dc['y1']=(dc.prob>=.1).astype('int')
dc['y2']=(dc.prob>=.2).astype('int')
dc['y3']=(dc.prob>=.23).astype('int')
dc['y4']=(dc.prob>=.3).astype('int')
dc['y5']=(dc.prob>=.4).astype('int')
dc['y6']=(dc.prob>=.5).astype('int')
dc['y7']=(dc.prob>=.6).astype('int')
dc['y8']=(dc.prob>=.7).astype('int')
dc['y9']=(dc.prob>=.8).astype('int')
dc['y10']=(dc.prob>=.9).astype('int')

TP,TN,FP,FN=compute_tp_tn_fp_fn(dc.y,dc.y1)
print('FP:',FP, 'FN:',FN,'A:',500*FN+100*FP)

TP,TN,FP,FN=compute_tp_tn_fp_fn(dc.y,dc.y2)
print('FP:',FP, 'FN:',FN,'A:',500*FN+100*FP)

TP,TN,FP,FN=compute_tp_tn_fp_fn(dc.y,dc.y3)
print('FP:',FP, 'FN:',FN,'A:',500*FN+100*FP)

TP,TN,FP,FN=compute_tp_tn_fp_fn(dc.y,dc.y4)
print('FP:',FP, 'FN:',FN,'A:',500*FN+100*FP)

TP,TN,FP,FN=compute_tp_tn_fp_fn(dc.y,dc.y5)
print('FP:',FP, 'FN:',FN,'A:',500*FN+100*FP)

TP,TN,FP,FN=compute_tp_tn_fp_fn(dc.y,dc.y6)
print('FP:',FP, 'FN:',FN,'A:',500*FN+100*FP)

TP,TN,FP,FN=compute_tp_tn_fp_fn(dc.y,dc.y7)
print('FP:',FP, 'FN:',FN,'A:',500*FN+100*FP)

TP,TN,FP,FN=compute_tp_tn_fp_fn(dc.y,dc.y8)
print('FP:',FP, 'FN:',FN,'A:',500*FN+100*FP)

TP,TN,FP,FN=compute_tp_tn_fp_fn(dc.y,dc.y9)
print('FP:',FP, 'FN:',FN,'A:',500*FN+100*FP)

## At threshold value 0.23 , 'A' gives lowest value

FP: 1630 FN: 7 A: 166500
FP: 1162 FN: 62 A: 147200
FP: 1020 FN: 78 A: 141000
FP: 733 FN: 165 A: 155800
FP: 399 FN: 296 A: 187900
FP: 168 FN: 462 A: 247800
FP: 56 FN: 666 A: 338600
FP: 16 FN: 845 A: 424100
FP: 4 FN: 939 A: 469900

In [85]:
## Part-D

dd=pd.read_csv('/content/drive/MyDrive/5_d.csv')
dd.head(10)

       y   pred
0  101.0  100.0
1  120.0  100.0
2  131.0  113.0
3  164.0  125.0
4  154.0  152.0
5  133.0  153.0
6  148.0  139.0
7  172.0  145.0
8  153.0  162.0
9  162.0  154.0

In [86]:
## Compute mean square error

a = np.subtract(dd.y,dd.pred)
b = np.square(a)
Mean_Square_Error = b.mean()
print('Mean_Square_Error:',Mean_Square_Error)

Mean_Square_Error: 177.16569974554707

In [87]:
## compute MAPE

def percent_err(act,pred):
  n = np.empty(act.shape)
  for i in range(act.shape[0]):
    if act[i] != 0:
      n[i] = (act[i]-pred[i])/act[i]
    else:
      n[i] = pred[i]/np.mean(act)
  return n      


def mape(actual,pred):

  a,b = np.array(actual), np.array(pred)
  
  return np.mean(np.abs(percent_err(a,b)))*100


mape(dd.y,dd.pred)

28.199462330815688

In [88]:
## compute R-square(R^2) error

a = np.mean(dd.y)
b = dd.y
b1 = dd.pred

c = np.subtract(b,a)
c1 = np.square(c)
SS_total = np.sum(c1)

d = np.subtract(b,b1)
c2 = np.square(d)
SS_res = np.sum(c2)

x = (SS_res/SS_total)

print('R^2 :',(1-x))

R^2 : 0.9563582786990937